nav.navbar.navbar-light.bg-faded.navbar-fixed-top
    .navbar-header
        ul.nav.navbar-nav
            li.nav-item.main-icon
                a.nav-link(href='/')
                    .icon-wrapper
                        img.d-inline-block.align-top.pikk-icon(src='/images/pikk-favi.png', width='32', height='28', alt='')
            if(user)
                li.nav-item.dropdown.float-lg-right.sub-icon
                    a.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        img.d-inline-block.align-top.profile-icon(src=user.img_url,width='28', height='28', alt='')
                    .dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href='/u') My profile
                        a.dropdown-item(href='/u/settings') Settings
                        a.dropdown-item(href='#') Third
                        .dropdown-divider
                        a.dropdown-item(href='/logout') Logout
                li.nav-item.dropdown.float-lg-right.sub-icon.button-secondary
                    .nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        .icon-wrapper.fa-wrapper
                            i.fa.fa-bell.pikk-icon(aria-hidden='true')
                    .dropdown-menu.dropdown-menu-right

                        if notifications
                            a.dropdown-item(href='#') Clear notifications
                            if notifications.length > 0
                                .dropdown-divider
                                for notification in notifications
                                    a.dropdown-item(href=notification.url)=notification.content
                        else
                            p.dropdown-item(href='#') No new notifications
            button.navbar-toggler.hidden-lg-up(type='button', data-toggle='collapse', data-target='#navbarResponsive',
            aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    #navbarResponsive.collapse.navbar-toggleable-md
        ul.nav.navbar-nav
            if(!user)
                li.nav-item.dropdown.active
                    a.nav-link(href="/auth/google") Login
            else
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Groups
                    .dropdown-menu.scrollable-list
                        a.dropdown-item(href='/g') My groups
                        a.dropdown-item(href='/g/creategroup') Create group
                        if groups
                            .dropdown-divider
                            for group in groups
                                a.dropdown-item(href='/g/'+group.id)=group.name
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Events
                    .dropdown-menu.scrollable-list
                        a.dropdown-item(href='/e') My Events
                        a.dropdown-item(href='/e/createevent') Create event
                        if events
                            if events.length>0
                                .dropdown-divider
                                for event in events
                                    a.dropdown-item(href='/e/' + event.id)=event.title
            li.nav-item.float-lg-right
                form.form-inline(method='get', action='/search')
                    .inner-addon.right-addon
                        i.fa.fa-search.input-icon
                        input.form-control.icon-input(name='query', type='text')


