extends layout

block content
    h2.group-banner Create a group
    form(method="POST", action="/g/creategroup").create-group-form
        .form-group
            label(for="groupname") Group Name
            input.form-control(type=text, name="groupname", id="groupname", required="required", value=groupname)
        .form-group
            label(for="members") Members
            ul(id="members").group-members-input
                li
                    input.list-group-item.form-control.group-member-input(type=text, name="member1")
                li
                    input.list-group-item.form-control.group-member-input(type=text, name="member2")
        .form-group
            label(for="description") Description
            textarea.form-control(name="description", placeholder="(Optional)", id="description")
        .form-group
        button.btn.btn-primary(type=submit) Create

    if errors && errors.length > 0
            each error in errors
                p.alert.alert-danger= error