extends layout

block content
    .row
        .col-lg-12
            .card
                .card-block
                    h3= event.title
                    p= event.description

    if !hasSelected
        .row
            .col-lg-12
                .card
                    .card-header Pick a Place
                    .card-block
                        h4.card-title You have yet to make your Pikk!
                        .row
                            .col-md-8
                                .card
                                    .card-block
                                        p.card-text
                                            | You can either choose 3 keywords from the list below:

                                        .form-group
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=0) Chicken
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=1) Steak
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=2) Seafood
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=3) Pizza
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=4) Hamburger
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=5) Sushi
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=6) Salad
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=7) Kebab
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=8) Thai
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=9) Asian
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=10) Indian
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=11) Mexican
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=12) Italian
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=13) Icelandic
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=14) Lunch
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=15) Vegan
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=16) Healthy
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=17) Pastries
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=18) Bistro style
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=19) Coffee
                                            button.btn.btn-outline-primary.btn-space.choice-button(value=20, disabled=false) Alchohol
                                        .form-group
                                            .card#insert-wrapper
                                                .card-block#insert-area
                                            form#start-pikk-form(method="post", action="/e/" + event.id + '/choose')
                                                button.btn.btn-primary.pull-right(type='submit' id="start-pikk-button") Pikk by Tags
                                                //button.btn.btn-seconaary(type='button' id='location-button') Near Me
                            .col-md-4
                                .card
                                    .card-block
                                        p.card-text
                                            | Or search for your favorite place
                                        .form-group
                                            form(method="get", action="/e/" + event.id + '/choose')
                                                fieldset
                                                    .form-group
                                                        input.form-control(type=text, name="query", id="query", placeholder='What are you hungry for?' required="required")
                                                    .form-group
                                                        button.btn.btn-primary.pull-right(type="submit") Pikk by Search

    if !eventReady
        .row
            .col-lg-6
                if unDecidedMembers != 0
                    .card
                        .card-header They have already picked
                        .card-block.scrollable-list
                            .row
                                each res in decidedMembers
                                    .col-lg-4
                                        .card.text-center
                                            img.card-img-top.img-fluid(src=res.img_url, alt='Card image cap')
                                            .card-block.text-center
                                                p.text-center=res.first_name
                else
                    .card
                        .card-block
                            p Nobody has picked a place
            .col-lg-6
                .card
                    .card-header They have note picked
                    .card-block.scrollable-list
                        if unDecidedMembers!=0
                            .row
                                each res in unDecidedMembers
                                    .col-lg-4
                                        .card.text-center
                                            img.card-img-top.img-fluid(src=res.img_url, alt='Card image cap')
                                            .card-block.text-center
                                                p.text-center=res.first_name
        if results
            .row
                .col-lg-12
                    .card-columns
                        each res in results
                            .card
                                if(res.brand_banner_path)
                                    img(src=res.brand_banner_path).card-im-top.img-fluid.place-banner-img
                                else if res.coordinates
                                    if(res.brand_banner_path)
                                        img(src=res.brand_banner_path).card-im-top.img-fluid
                                    else if(res.coordinates.ja360_image_url)
                                        img(src= res.coordinates.ja360_image_url).card-img-top.img-fluid
                                        if(res.logo_url)
                                            img(src="http://media.ja.is/" + res.logo_url).img-logo
                                .card-block
                                    h4.card-title= res.name
                                    p.card-text= res.address_nominative
                                ul.list-group.list-group-flush
                                    li.list-group-item.choose_item
                                        .row
                                            .col-md-12
                                                a(href='../place/' + res.phonebook_id_number).btn.btn-secondary Velja
                                                if res.hours
                                                    button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content=res.hours)
                                                        if res.is_open
                                                            i.open-icon.fa.fa-circle.text-success
                                                            | Opið
                                                        else
                                                            i.open-icon.fa.fa-circle.text-danger
                                                            | Lokað

                                                else
                                                    button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content='No info')
                                                        if res.is_open
                                                            i.open-icon.fa.fa-circle.text-success
                                                            | Opið
                                                        else
                                                            i.open-icon.fa.fa-circle.text-danger
                                                            | Lokað


    else

    button.btn.btn-outline-primary.btn-space(type=button)#hide-it

block scripts
    script(src="../javascript/selection.js")
