extends layout

block content
    .row
        .col-lg-12
            .card
                .card-block
                    .row
                        .col-lg-6
                            h3= event.title
                            p= event.description

                            a.friend-link(href='/g/' + event.groupId) Back to group

    if !eventReady
        .row
            .col-lg-6
                if decidedMembers != 0
                    .card
                        .card-block
                            h4.card-title They have picked
                            p.card-text The following members of your group have made their Pikk.
                        ul.list-group.list-group-flush
                            each res in decidedMembers
                                li.list-group-item
                                    .row
                                        .col-lg-8
                                            a.friend-link(href='/u/' + res.google.id)= res.first_name
                                        .col-lg-4
                                            img(style='height:24px; width: 24px; float:right;' src=res.img_url)
                else
                    .card
                        .card-block
                            p Nobody has picked a place
            .col-lg-6
                .card
                    .card-block
                        h4.card-title They have not picked
                        p.card-text The following members of your group have not made their Pikk. Why don't you give them a nudge?
                    ul.list-group.list-group-flush
                        each res in unDecidedMembers
                            li.list-group-item
                                .row
                                    .col-lg-8
                                        a.friend-link(href='/u/' + res.google.id)= res.first_name
                                    .col-lg-4
                                        img(style='height:24px; width: 24px; float:right;' src=res.img_url)

    if !hasSelected
        .row
            .col-lg-12
                .card
                    .card-block
                        h4.card-title You have yet to make your Pikk!
                        .row
                            .col-md-8
                                .card
                                    .card-block
                                        p.card-text
                                            | You can either choose 3 keywords from the list below:

                                        .form-group
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=0) Chicken
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=1) Steak
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=2) Seafood
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=3) Pizza
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=4) Hamburger
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=5) Sushi
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=6) Salad
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=7) Kebab
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=8) Thai
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=9) Asian
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=10) Indian
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=11) Mexican
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=12) Italian
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=13) Icelandic
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=14) Lunch
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=15) Vegan
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=16) Healthy
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=17) Pastries
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=18) Bistro style
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=19) Coffee
                                            button.btn.btn-outline-primary.btn-space.choice-button.pikk-button-outline(value=20, disabled=false) Alchohol
                                        .form-group
                                            .card#insert-wrapper
                                                .card-block#insert-area
                                            form#start-pikk-form(method="post", action="/e/" + event.id + '/choose')
                                                button.btn.btn-primary.pull-right.pikk-button(type='submit' id="start-pikk-button") Pikk by Tags
                                                //button.btn.btn-seconaary(type='button' id='location-button') Near Me
                            .col-md-4
                                .card
                                    .card-block
                                        p.card-text
                                            | Or search for your favorite place
                                        .form-group
                                            form(method="get", action="/e/" + event.id + '/choose')
                                                fieldset
                                                    .form-group
                                                        input.form-control(type=text, name="query", id="query", placeholder='What are you hungry for?' required="required")
                                                    .form-group
                                                        button.btn.btn-primary.pull-right.pikk-button(type="submit") Pikk by Search
        .row
            .col-lg-12
                .card
                    .card-block
                        h4.card-title You can also choose one of theese
                        .row
                            each res, index in feed_results.first
                                .col-lg-3
                                    .card.index-card
                                        .img-wrapper
                                            if(res.brand_banner_path)
                                                img(src=res.brand_banner_path).card-img-top.img-fluid.place-banner-img
                                            else if res.coordinates
                                                if(res.brand_banner_path)
                                                    img(src=res.brand_banner_path).card-img-top.img-fluids
                                                else if(res.coordinates.ja360_image_url)
                                                    img(src= res.coordinates.ja360_image_url).card-img-top.img-fluid
                                                    if(res.logo_url && !res.brand_banner_path && res.coordinates.ja360_image_url)
                                                        img(src="http://media.ja.is/" + res.logo_url).img-logo
                                            else
                                                img(src="/images/bannandi.png").card-img-top.img-fluid
                                        .card-block
                                            p.card-text= res.name
                                            if res.address_nominative
                                                p.card-text= res.address_nominative
                                            else
                                                p.card-text Burgerwille 1337
                                        ul.list-group.list-group-flush
                                            li.list-group-item.choose_item
                                                a(href='../place/' + res.phonebook_id_number).btn.btn-secondary Choose
                                                if res.hours
                                                    button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content=res.hours)
                                                        if res.is_open
                                                            i.open-icon.fa.fa-circle.text-success
                                                            | Open
                                                        else
                                                            i.open-icon.fa.fa-circle.text-danger
                                                            | Closed

                                                else
                                                    button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content='no info')
                                                        if res.is_open
                                                            i.open-icon.fa.fa-circle.text-success
                                                            | Open
                                                        else
                                                            i.open-icon.fa.fa-circle.text-danger
                                                            | Closed


        if results
            .row
                each res in results
                    .col-lg-6
                        .card
                            if(res.brand_banner_path)
                                img(src=res.brand_banner_path).card-im-top.img-fluid.place-banner-img
                            else if res.coordinates
                                if(res.brand_banner_path)
                                    img(src=res.brand_banner_path).card-im-top.img-fluid
                                else if(res.coordinates.ja360_image_url)
                                    img(src= res.coordinates.ja360_image_url).card-img-top.img-fluid
                                    if(res.logo_url)
                                        img(src="http://media.ja.is/" + res.logo_url).img-logo
                            .card-block
                                h4.card-title= res.name
                                p.card-text= res.address_nominative
                            ul.list-group.list-group-flush
                                li.list-group-item.choose_item
                                    .row
                                        .col-md-12
                                            a(href='../place/' + res.phonebook_id_number).btn.btn-secondary Velja
                                            if res.hours
                                                button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content=res.hours)
                                                    if res.is_open
                                                        i.open-icon.fa.fa-circle.text-success
                                                        | Opið
                                                    else
                                                        i.open-icon.fa.fa-circle.text-danger
                                                        | Lokað

                                            else
                                                button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content='No info')
                                                    if res.is_open
                                                        i.open-icon.fa.fa-circle.text-success
                                                        | Opið
                                                    else
                                                        i.open-icon.fa.fa-circle.text-danger
                                                        | Lokað


    else
        .row
            .col-lg-6
                .card
                    if(selectedPlace.brand_banner_path)
                        img(src=selectedPlace.brand_banner_path).card-im-top.img-fluid.place-banner-img
                    else if selectedPlace.coordinates
                        if(selectedPlace.brand_banner_path)
                            img(src=selectedPlace.brand_banner_path).card-im-top.img-fluid
                        else if(selectedPlace.coordinates.ja360_image_url)
                            img(src= selectedPlace.coordinates.ja360_image_url).card-img-top.img-fluid
                            if(selectedPlace.logo_url)
                                img(src="http://media.ja.is/" + selectedPlace.logo_url).img-logo
                    .card-block
                        h4.card-title=selectedPlace.name
            .col-lg-6
                if selectedPlace && selectedPlace.coordinates
                    .card
                        .card-block
                            .map-wrapper
                                #map(name=selectedPlace.name, lat=selectedPlace.coordinates.lat, lon= selectedPlace.coordinates.lon)


    button.btn.btn-outline-primary.pikk-button-outline.btn-space(type=button)#hide-it

block scripts
    script(src="../javascript/selection.js")

    if hasSelected && selectedPlace && selectedPlace.coordinates && selectedPlace.name
        script(src="/javascript/maps.js")
        script.
            function initMap() {
                var info = document.getElementById("map");
                var lat = parseFloat(info.getAttribute("lat"));
                var lon = parseFloat(info.getAttribute("lon"));
                var name = info.getAttribute("name");

                var position = {
                    lat: lat,
                    lng: lon
                };
                var map = new google.maps.Map(document.getElementById('map'),
                        {center: position, zoom: 15});
                map.setOptions({
                    draggable: false,
                    zoomControl: false,
                    scrollwheel: false,
                    disableDoubleClickZoom: true
                });
                var marker = new google.maps.Marker({position: position, map: map, title: name});


            }
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3Iw7mFjgBj_uHySWkAhMLNcQisIuRmBc&callback=initMap", async, defer)
