extends layout

block content
    if errors
        .row
            .col-lg-12
                each error in errors
                    .alert.alert-danger(role='alert')=error
    .row
        .col-lg-12
            .card
                .card-block
                    .row
                        .col-md-6
                            .row
                                .card
                                    .card-block
                                        h1= group.name
                                        p= group.description
                            .row
                                .card
                                    .card-block
                                        form(method="POST", action="/g/" + group.id + "/addMember")
                                            fieldset
                                                legend Add a member
                                                .form-group
                                                    label(for="email") By email
                                                    input.form-control(type=text, name="email", id="email", placeholder='enter email' required="required")
                                                .form-group
                                                    button.btn.btn-primary.pull-right(type="submit") Add Member
                        .col-md-6
                            .card
                                .card-header='Create a new event for ' + group.name
                                .card-block
                                    form(method="POST", action="/e/createevent")
                                        fieldset.form-group
                                            .form-group
                                                label(for="title") Title
                                                input.form-control(type=text, required='required', "title", id="title")
                                            .form-group
                                                label(for="description") Description
                                                textarea.form-control(name="description",required='required', id="description")
                                            .row
                                                .col-lg-6
                                                    .form-group
                                                        label(for="deadline") Deadline for pikking a place
                                                        input.form-control(type="datetime-local",name="deadline", required='required',id="deadline").pick-date
                                                .col-lg-6
                                                    .form-group
                                                        label(for="toe") Time of Event
                                                        input.form-control(type="data", name="toe", required='required',id="toe").pick-date
                                            .form-group
                                                button.btn.btn-primary.pull-right(type=submit) Create


    .row
        .col-lg-6.col-sm-12
            .card
                .card-header Members
                ul.list-group.list-group-flush.scrollable-list
                    each member in members
                        li.list-group-item
                            a.friend-link(href='/u/' + member.google.id)= member.first_name
                            p=member.email
        .col-lg-6.col-sm-12
            .card
                .card-header Events
                if events.length > 0
                    ul.list-group.list-group-flush.scrollable-list
                        each event in events
                            li.list-group-item
                                a(href="/e/" + event.id)= event.title
                                p= event.description

    button.btn.btn-outline-primary.btn-space#hide-it
        i.fa.fa-close.side-icon

block scripts
    script(src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', crossorigin='anonymous')
    script(src='../javascript/datePick.js")