extends layout

block content
    .row.bump-down
        .col-lg-12
            .card
                .card-block
                    if invited_user_id
                        p Choose a group to invite your friend to from the list of your current groups below
                    else
                        p Here You can see all the groups that you currently belong to
                        a.btn.btn-primary.pull-right.pikk-button(href="/g/creategroup") Create new group
    .row
        .col-lg-12
            .card
                .card-block
                    if invited_user_id
                        if groups
                            if groups.length < 2
                                each group in groups
                                    .card
                                        .card-block
                                            .card-title
                                                h5=group.name
                                            .card-text
                                                p.text-muted=group.description
                                                form(method='post', action="/g/" + group.id + '/addMember')
                                                    input(type='hidden' name='addmember', id='addmember', value=invited_user_id)
                                                    button.btn.btn-primary.pull-right.pikk-button Invite to group
                            else
                                .card-columns
                                    each group in groups
                                        .card
                                            .card-block
                                                .card-title
                                                    h5=group.name
                                                .card-text
                                                    p.text-muted=group.description
                                                    form(method='post', action="/g/" + group.id + '/addMember')
                                                        input(type='hidden' name='addmember', id='addmember', value=invited_user_id)
                                                        button.btn.btn-primary.pull-right.pikk-button Invite to group
                        else
                            h2 No groups to display
                    else
                        if groups
                            if groups.length < 2
                                each group in groups
                                        .card
                                            .card-block
                                                .card-title
                                                    h5=group.name
                                                .card-text
                                                    p.text-muted=group.description
                                                a(href="/g/"+group.id).btn.btn-primary.pull-right.pikk-button View group
                            else
                                .card-columns
                                    each group in groups
                                        .card
                                            .card-block
                                                .card-title
                                                    h5=group.name
                                                .card-text
                                                    p.text-muted=group.description
                                                a(href="/g/" + group.id).btn.btn-primary.pull-right.pikk-button View group
                        else
                            h2 No groups to display
