extends layout

block content
    if errors
        .row
            .col-lg-12
                each error in errors
                    .alert.alert-danger(role='alert')=error
    .row
        .col-lg-12
            .card
                .card-block
                    .row
                        .col-md-6
                            .row
                                .col-md-12
                                    .card
                                        .card-block
                                            h1= group.name
                                            p= group.description
                            .row
                                .col-md-12
                                    .card
                                        .card-block
                                            form(method="POST", action="/g/" + group.id + "/addMember")
                                                fieldset
                                                    legend Add a member
                                                    .form-group
                                                        label(for="email") By email
                                                        input.form-control(type=text, name="email", id="email", placeholder='enter email' required="required")
                                                    .form-group
                                                        button.btn.btn-primary.pull-right.pikk-button(type="submit") Add Member
                        .col-md-6
                            .card
                                .card-block
                                    h4.card-text='Create a new event for ' + group.name
                                .card-block
                                    form(method="POST", action="/e/createevent")
                                        fieldset.form-group
                                            .form-group
                                                label(for="title") Title
                                                input.form-control(type=text, required='required', "title", id="title", name="title")
                                            .form-group
                                                label(for="description") Description
                                                textarea.form-control(name="description",required='required', id="description")
                                            .row
                                                .col-lg-6
                                                    .form-group
                                                        label(for="deadline") Deadline for pikking a place
                                                        input.form-control(type="date-local",name="deadline", required='required',id="deadline").pick-date
                                                .col-lg-6
                                                    .form-group
                                                        label(for="toe") Time of Event
                                                        input.form-control(type="date-local", name="toe", required='required',id="toe").pick-date
                                            .form-group
                                                button.btn.btn-primary.pull-right.pikk-button(type=submit) Create


    .row
        .col-lg-6.col-sm-12
            .card
                //.card-header Members
                .card-block
                    h4.card-text Members

                ul.list-group.list-group-flush.scrollable-list
                    each member in members
                        li.list-group-item
                            a.friend-link(href='/u/' + member.google.id)= member.first_name
                            p=member.email
        .col-lg-6.col-sm-12
            .card
                .card-block
                    h4.card-text Events
                ul.list-group.list-group-flush.scrollable-list
                    - var now = new Date()
                    - var now_year = now.getFullYear()
                    - var now_month = now.getMonth()+1
                    - var now_date = now.getDate()
                    if events.length!=0
                        each event in events
                            - var time_of_event = new Date(event.toe);
                            - var date = time_of_event.getDate()
                            - var month = time_of_event.getMonth()+1
                            - var year = time_of_event.getFullYear()
                            li.list-group-item
                                a.friend-link(href="/e/" + event.id)= event.title
                                p= date + '/' + month + '/' + year
                                p= event.description
                                if(year == now_year && month == now_month && date == now_date)
                                    p This event is happening today!
                                else if(now_year > year || (now_year == year && now_month > month) || (now_year == year && now_month == month && now_date > date))
                                    p This event is over

                    else
                        li.list-group-item You have no upcoming events
                            span.pull-right
                                i.fa.fa-frown-o.fa-lg

    button.btn.btn-outline-primary.btn-space.pikk-button-outline#hide-it
        i.fa.fa-close.side-icon

block scripts
    script(src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', crossorigin='anonymous')
    script(src='../javascript/datePick.js')

