extends layout

block indexcontent
    if !user
        .card.card-primary.card-inverse
            .card-block.text-xs-center
                blockquote.card-blockquote
                    p Login and see what your friends are eating!
                    a(href='/auth/google').btn.btn-secondary Login

    .card
        .card-header Up for some burgers?
            span.pull-right
                i.fa.fa-tag.fa-lg
        .card-block
            .slider.slick-list
                for res in results.first
                    .card.index-card
                        if(res.brand_banner_path)
                            img(src=res.brand_banner_path).card-im-top.img-fluid.place-banner-img
                        else if res.coordinates
                            if(res.brand_banner_path)
                                img(src=res.brand_banner_path).card-img-top.img-fluid
                            else if(res.coordinates.ja360_image_url)
                                img(src= res.coordinates.ja360_image_url).card-img-top.img-fluid
                                if(res.logo_url && !res.brand_banner_path && res.coordinates.ja360_image_url)
                                    img(src="http://media.ja.is/" + res.logo_url).img-logo
                        else
                            img(src="/images/bannandi.png").card-img-top.img-fluid
                        .card-block
                            h5.card-title= res.name
                            p.card-text= res.address_nominative
                        ul.list-group.list-group-flush
                            li.list-group-item.choose_item
                                a(href='../place/' + res.phonebook_id_number).btn.btn-secondary Choose
                                if res.hours
                                    button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content=res.hours)
                                        if res.is_open
                                            i.open-icon.fa.fa-circle.text-success
                                            | Open
                                        else
                                            i.open-icon.fa.fa-circle.text-danger
                                            | Closed

                                else
                                    button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content='no info')
                                        if res.is_open
                                            i.open-icon.fa.fa-circle.text-success
                                            | Open
                                        else
                                            i.open-icon.fa.fa-circle.text-danger
                                            | Closed
    .card
        .card-header You can't say no to a pizza
            span.pull-right
                i.fa.fa-tag.fa-lg
        .card-block
            .slider.slick-list
                for res in results.second
                    .card.index-card
                        if(res.brand_banner_path)
                            img(src=res.brand_banner_path).card-im-top.img-fluid.place-banner-img
                        else if res.coordinates
                            if(res.brand_banner_path)
                                img(src=res.brand_banner_path).card-img-top.img-fluid
                            else if(res.coordinates.ja360_image_url)
                                img(src= res.coordinates.ja360_image_url).card-img-top.img-fluid
                                if(res.logo_url && !res.brand_banner_path && res.coordinates.ja360_image_url)
                                    img(src="http://media.ja.is/" + res.logo_url).img-logo
                        else
                            img(src="/images/bannandi.png").card-img-top.img-fluid
                        .card-block
                            h5.card-title= res.name
                            p.card-text= res.address_nominative
                        ul.list-group.list-group-flush
                            li.list-group-item.choose_item
                                a(href='../place/' + res.phonebook_id_number).btn.btn-secondary Velja
                                if res.hours
                                    button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content=res.hours)
                                        if res.is_open
                                            i.open-icon.fa.fa-circle.text-success
                                            | Open
                                        else
                                            i.open-icon.fa.fa-circle.text-danger
                                            | Closed

                                else
                                    button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content='no info')
                                        if res.is_open
                                            i.open-icon.fa.fa-circle.text-success
                                            | Open
                                        else
                                            i.open-icon.fa.fa-circle.text-danger
                                            | Closed
    .card
        .card-header What about some sushi?
            span.pull-right
                i.fa.fa-tag.fa-lg
        .card-block
            .slider.slick-list
                for res in results.third
                    .card.index-card
                        if(res.brand_banner_path)
                            img(src=res.brand_banner_path).card-im-top.img-fluid.place-banner-img
                        else if res.coordinates
                            if(res.brand_banner_path)
                                img(src=res.brand_banner_path).card-img-top.img-fluid
                            else if(res.coordinates.ja360_image_url)
                                img(src= res.coordinates.ja360_image_url).card-img-top.img-fluid
                                if(res.logo_url && !res.brand_banner_path && res.coordinates.ja360_image_url)
                                    img(src="http://media.ja.is/" + res.logo_url).img-logo
                        else
                            img(src="/images/bannandi.png").card-img-top.img-fluid
                        .card-block
                            h5.card-title= res.name
                            p.card-text= res.address_nominative
                        ul.list-group.list-group-flush
                            li.list-group-item.choose_item
                                a(href='../place/' + res.phonebook_id_number).btn.btn-secondary Choose
                                if res.hours
                                    button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content=res.hours)
                                        if res.is_open
                                            i.open-icon.fa.fa-circle.text-success
                                            | Open
                                        else
                                            i.open-icon.fa.fa-circle.text-danger
                                            | Closed

                                else
                                    button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content='no info')
                                        if res.is_open
                                            i.open-icon.fa.fa-circle.text-success
                                            | Open
                                        else
                                            i.open-icon.fa.fa-circle.text-danger
                                            | Closed
block scripts
    script(src="/javascript/popover.js")
