extends layout

block content
    form(method="POST", action="/u/signup")
        .form-group
            label(for="username") Username
            input.form-control(type=text, name="username", placeholder='PikkNikk', id="username")
        .form-group
            label(for="first_name") First Name
            input.form-control(type=text, name="first_name", placeholder="Gunnar Bjarni", id="first_name")
        .form-group
            label(for="last_name") Last Name
            input.form-control(type=text, name="last_name", placeholder="Jónsson", id="last_name")
        .form-group
        button.btn.btn-signup(type=submit) Sign Up
    if users
        ul
            each user in users
                li= user.username
