extends layout

block content
    .col-lg-8
        //h1= 'Usr: '+user.username
        //h2= 'ownr: '+owner.username
        if (owner)
            .card.user-card
                .card-header=owner.username
                    i.fa.fa-user-circle-o.pikk-card-icon
                .card-block
                    h4.card-title=owner.first_name+' '+owner.last_name
                    img(src=owner.img_url, alt="User Image").user-img
                ul.list-group.list-group-flush
                    li.list-group-item=owner.email
                        i.fa.fa-at.pikk-card-icon
                    if(owner.phone)
                        li.list-group-item=owner.phone
                            i.fa.fa-phone.pikk-card-icon
        else
            h1 Notandi fannst ekki
            a(href="/") Smelltu her til ad fara heim
    .col-lg-4.friend-list
        if(owner.username==user.username)
            .card
                .card-header Hópar
                    i.fa.fa-users.pikk-card-icon
                ul.list-group.list-group-flush
                    each group in groups
                        li.list-group-item
                            a(href='/g/'+group.id).friend-link= group.name